  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0000;
    padding: 5 5 5 20;
    width: 100%;
  }
  
  
  header h1 {
    color: rgb(249, 245, 245);
    font-size: 45px;
    font-weight: 100px;
    bottom: 35px;
    margin-right: 40px;
  }

  body {
    background-color: #000000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0000;
    padding: 5 5 5 20;
  }
  
  header h1 {
    color: rgb(249, 245, 245);
    font-size: 45px;
    font-weight: 100px;
    font-style: italic;
    bottom: 35px;
    margin-right: 25px;
  }
  