/* 
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2e64a1;
  padding: 16px 0;
  width: 100%;
  text-align:center;
}

div {
margin-top: 10;
  color: white;
  font-size: 20px;
  font-weight: 100px;
  font-style: italic;
  bottom: 35px;
  justify-content: center;
  align-self: auto;
}

header div img {
margin-top: 10;
  font-size: 20px;
  font-weight: 100px;
  font-style: italic;
  bottom: 35px;
}

footer {
  background-color: #ccc;
  color: #333;
  text-align: center;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
} */