:root {
  --primary-color: #EC1F24;
  --primary-color-dark: #8f1315;
  --primary-color-light: #f1f1f1;
  --secondary-color: #007bff;
  --secondary-color-dark: #0056b3;
  --secondary-color-light: #e6f7ff;
  --tertiary-color: #6c757d;
  --tertiary-color-dark: #495057;
  --tertiary-color-light: #d6d3d3;
  --quaternary-color: #000000;
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset
}

html {
  background-color: black;
  font-size: 16px;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  max-width: 100vw !important;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  border-radius: 0.4rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #c4c4c475;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: var(--primary-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}