body {
    margin: 0;
    padding: 0;
}

.bienvedidos {
    font-size: 30px;
    color: rgb(255, 240, 240);
    text-align: center;
    display: block;
    text-align: center;
    width: 100%;
    padding: 16px;
}

.columnas {
    font-size: 30px;
    color: rgb(255, 240, 240);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

p {
    font-size: 30px;
    color: rgb(255, 240, 240);
    text-align: center;
    display: block;
    text-align: center;
    width: 100%;
    padding: 16px;
}


.cita {
    font-size: 22px;
    color: rgb(255, 240, 240);
    text-align: center;
    display: block;
    text-align: center;
    width: 100%;
    padding: 16px;
    margin-top: 160px;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: 12px;
}

header {
    width: 100%;
}

body {
    background-color: rgb(32, 32, 32);
}

footer {
    background-color: #050000;
    font-size: 20px;
    color: #615c5c;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: 100%;
}

img[src="/images/Home.png"] {
    width: 100%; 
    height: auto;
    margin: 20px;
    
  }

